<html>
  <head>
    <title> Codeuino UI Components </title>

    <!-- Import Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="style.css" rel="stylesheet">

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- jQuery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>        
  </head>

  <body>
    <div class="container">
    
    <div class="sidebar">
      <div class="sidebar-option">
        <div class="sidebar-option-img" style="background-image: url('images/home_white.png');"></div>
        <div class="sidebar-option-txt">HOME</div>
      </div>
      <div class="sidebar-option">
        <div class="sidebar-option-img" style="background-image: url('images/search_white.png');"></div>
        <div class="sidebar-option-txt">SEARCH GIT</div>
      </div>
      <div class="sidebar-option">
        <div class="sidebar-option-img" style="background-image: url('images/account_white.png');"></div>
        <div class="sidebar-option-txt">MEMBERS</div>
      </div>
      <div class="sidebar-option">
        <div class="sidebar-option-img" style="background-image: url('images/settings_white.png');"></div>
        <div class="sidebar-option-txt">SETTINGS</div>
      </div>
    </div>

    <div class="column">
      <div class="column-title">
        Calendar App: Frontend
      </div>

      <div class="card-container">
        <div class="card">
          <div class="time">10/1/2019 22:17</div>
          <div class="title">Problem logging in with google.</div>
          <div class="brief">Showing error: can not read property username of undefined</div>
          <div class="user">iamgrawal</div>
        </div>
      </div>

      <div class="card-container">
        <div class="card">
          <div class="time">Yesterday 18:05</div>
          <div class="title">Reminder: Update Docs</div>
          <div class="brief">https://docsify.js.org/#/</div>
          <div class="user">svr8</div>
        </div>
      </div>

      <div class="card-container">
        <div class="card">
          <div class="time">Today 14:05</div>
          <div class="title">New Idea for DONUT</div>
          <div class="brief">What if there was a sidepanel for quick view at github issue?</div>
          <div class="user">svr8</div>
        </div>
      </div>
    </div>

    <div class="post">
        <div class="close"></div>
        <div class="title">New Idea for DONUT</div>
        <div class="post-details">
          <div class="username">svr8</div>
          <div class="timedetails">Today 14:05</div>
        </div>
        
        <div class="post-menu">
          <div class="post-menu-option" v-on:click="show_target = 'body'">POST</div>
          <div class="post-menu-option" v-on:click="show_target = 'comments'">COMMENTS</div>
        </div>
        
        <div v-if="show_target=='body'" class="body">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        
        <div v-if="show_target == 'comments'" class="comments-wrap">
          <div class="comments-list">
            <div class="comment" v-for="comment in comment_list">
              <div class="comment-username">{{ comment.username }}</div><br/>
              <div class="comment-body">{{ comment.body }}</div>
            </div>
          </div>
          <div class="user-comment-wrap">
            <input class="user-comment-box">
            <div class="user-comment-sendbtn">SEND</div>
          </div>

        </div>

        

    </div>
  </div>
    
  <script src="script.js"></script>

  </body>
</html>